* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #111;
    #bottomLine {
        position: fixed;
        bottom: 0;
        padding: 2rem;
    }
    .hide {
        overflow: hidden;
        h1 {
            width: 100%;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
<<<<<<< HEAD
            font-size: 5rem;
            line-height: 5ch;
            color: #fff;
=======
            -webkit-text-stroke: 1px #919191;
            text-shadow: 0 0 2px #fff,
                        0 0 6px #ddd,
                        0 0 10px #555,
                        0 0 14px #333;
            font-size: clamp(2rem, 7vw, 5rem);
            line-height: 3.5ch;
            color: #222;
>>>>>>> f2ffca8 (Fine tuning)
            transform: translateY(-100%);
            animation: scrollIt 500ms 500ms forwards;
        }

        p {
            width: 80%;
            color: #fff;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
<<<<<<< HEAD
            font-size: 1rem;
=======
            font-size: clamp(0.5rem, 2vw, 0.8rem);
            text-align: justify;
>>>>>>> f2ffca8 (Fine tuning)
            margin: 0 auto;
            transform: translateY(200%);
            animation: scrollIt 500ms 500ms forwards;
        }
    }

    #container {
        width: 80%;
        height: 60vh;
        margin: 0 auto;
        ul {
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            li {
                list-style: none;
                a {
                    text-decoration: none;
<<<<<<< HEAD
                    color: #fff;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 2.5rem;
                    text-transform: uppercase;
=======
                    color: #919191;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: clamp(1rem, 3vw, 2.5rem);
                    text-transform: uppercase;
                    letter-spacing: 4px;
>>>>>>> f2ffca8 (Fine tuning)
                }
                a:hover {
                    span {
                        color: #f1f1f1;
                        text-shadow:
                            0 0 10px #fff,
                            0 0 30px #fff,
                            0 0 50px #fff,
                            0 0 80px #fff;
                    }
                }
            }
        }
    }
}

@keyframes scrollIt {
    to {
        transform: translateY(0);
    }
}